/* Basic styles and layout */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.sorting-options {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.sorting-options button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tab {
    background-color: #ccc;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.active-tab {
    background-color: #333;
    color: #fff;
}

/* Styling the movie cards */
.movie-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* CSS */
.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-card h2 {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.movie-card p {
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
}

.movie-card button {
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.movie-card button:hover {
    background: #2980b9;
}

/* Styling the pagination buttons */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

#previous-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}